<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Test App</title>

    <!-- <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet" /> -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link href="/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <ul>
      <li><a class="nav" href="/0">United States</a></li>
      <li><a class="nav" href="/1">Great Britain</a></li>
      <li><a class="nav" href="/2">India</a></li>
      <li><a class="nav" href="/3">Australia</a></li>
      <li><a class="nav" href="/4">Israel</a></li>
      <li><a class="nav" href="/5">Germany</a></li>
      <li><a class="nav" href="/6">Mexico</a></li>
      <li><a class="nav" href="/7">Japan</a></li>
      <li><a class="nav" href="/8">Korea</a></li>
      <li><a class="nav" href="/9">France</a></li>
    </ul>
    <div id="root"></div>
    <h1>How is <%= loc %> feeling today?</h1>
    <h2> The average emotion of articles about this topic is <%= avg %>. </h2>
    <br>
    <h2>Articles:</h2>
    <!-- <div class="container"> -->
    <div class="article-container">
      <% for (var i = 0; i < data.length; i++){ %>
    <div class="dropdown">
      <button class= "dropbtn"><a href=<%= Object.keys(data[i]) %>><%= Object.values(data[i])%>...</a></button>
      <div class="dropdown-content">
          <table>
            <tr>
              <th>Entities</th>
              <th>Sentiment</th>
              <th>Salience</th>
            </tr>
            <% for (var j = 0; j < entities[i].length; j++){ %>
            <tr>
              <td><%= entities[i][j].name %></td>
              <td><%= entities[i][j].score %></td>
              <td><%= entities[i][j].salience %></td>
            </tr>
            <% } %>
          </table>
      </div>
    </div>
      <% } %>
    </div>
    <!-- </div> -->
  </body>
</html>
    <!-- <script src="script.js" type="text/javascript"></script> -->

  </body>
</html>

